<template>
  <div class="w-full mb-10">
    <p class="mb-4 text-gray-600">
      Choose the templates that you want to send.
    </p>
    <el-select v-model="value" @change="handleCommand" placeholder="Select" class="w-full">
      <el-option v-for="item in templates" :key="item.value" :label="item.label" :value="item.value"></el-option>
    </el-select>
  </div>
</template>

<script>
export default {
  data() {
    return {
      templates: [
        {
          value: 'resumed',
          label: 'Resumed'
        },
        {
          value: 'planned',
          label: 'Planned Maintenance'
        },
        {
          value: 'unplanned',
          label: 'Unplanned Maintenance'
        }
      ],
      value: []
    }
  },
  methods: {
    handleCommand(emailType) {
      console.log(emailType)
      this.$emit('input', emailType)
    }
  }
}
</script>
