<template>
  <div class="w-full mb-10 ">
    <!-- resume -->
    <p class="mb-4 text-gray-600">
      Select date and <span v-if="!isRanged">end</span> time
    </p>
    <el-date-picker @change="handleCommand" v-model="value" :type="datePickerType" range-separator="To" start-placeholder="Start date" end-placeholder="End date" align="center" format="yyyy/MM/dd hh:mm A" value-format="yyyy/MM/dd hh:mm A"></el-date-picker>
  </div>
</template>

<script>
export default {
  props: {
    isRanged: {
      type: Boolean,
      default: () => true
    }
  },
  data() {
    return {
      value: ''
    }
  },
  methods: {
    handleCommand(eventDetail) {
      this.$emit('input', eventDetail)
    }
  },
  computed: {
    datePickerType() {
      return this.isRanged ? 'datetimerange' : 'datetime'
    }
  }
}
</script>

<style>
.el-range-editor.el-input__inner {
  width: 100%;
}
</style>
