<template>
  <div class="py-4 bg-white border-b">
    <div class="container flex items-center justify-between mx-auto">
      <img src="../assets/img/kt-logo.png" />
      <el-dropdown>
        <span class="el-dropdown-link">
          <div class="flex items-center mr-6">
            <div class="flex flex-col">
              <span>test@test.com</span>
              <span class="text-sm text-gray-500">Administrator</span>
            </div>
            <el-avatar class="ml-4" icon="el-icon-user-solid"></el-avatar>
            <i class="transform rotate-90 el-icon-more-outline el-icon--right"></i>
          </div>
        </span>
        <el-dropdown-menu slot="dropdown" class="w-48 text-center">
          <el-link type="danger" @click.prevent="$auth.logout()">Logout</el-link>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>
