<template>
  <div :class="[status ? 'border-green-200' : 'border-red-200' ,'flex flex-col items-center p-2 py-4 mx-4 my-4 transition-all duration-500 ease-in-out bg-white border rounded-md md:mx-20 md:flex-row md:justify-between']">
    <a :href="site" :class="[status ? '' : 'text-red-500', 'px-8 text-lg font-medium text-gray-600 break-all hover:text-blue-600 hover:underline']">{{site}}</a>
    <p :class="[status ? 'text-green-500' : 'text-red-500' , 'px-8 text-lg font-medium text-black ']">{{statusText}}</p>
  </div>
</template>

<script>
export default {
  props: {
    site: {
      type: String,
      required: true
    },
    status: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    statusText() {
      return this.status ? 'Operational' : 'Down'
    }
  }
}
</script>
