<template>
  <div class="w-full px-8 py-8 my-4 mr-2 bg-white rounded-md shadow-md md:w-7/12">
    <!-- mini control -->
    <div class="flex items-center justify-between">
      <input class="block w-full px-4 py-2 mr-20 text-sm leading-normal text-gray-600 bg-white border-b border-gray-300 appearance-none focus:outline-none" type="text" placeholder="Search..." v-model="input" />
      <div>
        <el-button type="success" icon="el-icon-plus" size="mini" round>New Site</el-button>
      </div>
    </div>
    <!-- Sites Table -->
    <el-table ref="filterTable" :data="tableData" style="width: 100%" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55"></el-table-column>
      <el-table-column sortable prop="site" label="Sites"></el-table-column>
      <el-table-column prop="status" width="110">
        <template slot-scope="scope">
          <el-tag :type="scope.row.status === 'Operational' ? 'success' : 'danger'" disable-transitions size="small" align="right">{{ scope.row.status }}</el-tag>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tableData: [
        {
          site: 'Google.com',
          status: 'Operational'
        },
        {
          site: 'Apple.com',
          status: 'Down'
        },
        {
          site: 'Uber.com',
          status: 'Operational'
        },
        {
          site: 'Microsoft.com',
          status: 'Down'
        },
        {
          site: 'YouBorn.com',
          status: 'Operational'
        }
      ],
      input: ''
    }
  },
  methods: {
    handleSelectionChange(sites) {
      this.$emit('sites-changed', sites)
    }
  }
}
</script>
