<template>
  <!-- .card -->
  <div :class="[
      color,
      'card text-center flex flex-wrap w-full justify-center item-center mx-8 md:w-1/4 my-4 md:my-0'
    ]">
    <div class="px-6 py-4">
      <div class="flex justify-center ">
        <!-- .title -->
        <p class="title">{{ title }}</p>
      </div>
      <!-- .total -->
      <div class="flex flex-col justify-center total">
        <span>{{ total }}</span>
        <p>Total Sites</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    total: {
      type: Number,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    status: {
      type: Boolean,
      required: false,
      default: () => true
    }
  },
  computed: {
    color() {
      return this.status ? 'green' : 'red'
    }
  }
}
</script>

<style scoped>
.card {
  @apply mx-4 overflow-hidden rounded shadow-lg;
}

.card .title {
  @apply px-2 mb-2 font-bold rounded;
}

.card .total > span {
  @apply text-4xl font-bold text-center;
}

.card .total > p {
  @apply text-xl font-medium text-center;
}

/* red */

.card.red {
  @apply bg-red-100;
}

.card.red .title {
  @apply text-red-800 bg-red-300;
}

.card.red .total > span {
  @apply text-red-600;
}

.card.red .total > p {
  @apply text-red-800;
}

/* green */

.card.green {
  @apply bg-green-100;
}

.card.green .title {
  @apply text-green-800 bg-green-300;
}

.card.green .total > span {
  @apply text-green-600;
}

.card.green .total > p {
  @apply text-green-800;
}
</style>
