<template>
  <div id="dashboard" class="bg-gray-200">
    <Navbar />
    <!-- Welcome Banner -->
    <section class="h-48 pt-6 text-center bg-blue-100">
      <p class="text-4xl">Welcome on Board!</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quas,
        nobis modi facilis non voluptatem.
      </p>
    </section>
    <!--Server Status card-->
    <div class="flex flex-col items-center justify-center mx-8 mb-16 -my-12 mb:-my-16 md:flex-row">
      <StatusCard title="Operational" :total="numSites" />
      <StatusCard title="Down" :total="numSitesDown" :status="false" />
    </div>
    <div class="container mx-auto mt-20">
      <!-- Divider -->
      <el-divider content-position="center" class="bg-gray-200">
        <p class="text-xl font-medium text-gray-600 bg-white bg-gray-200">Server Info</p>
      </el-divider>
      <div class="flex flex-wrap justify-between w-full mt-10 md:flex-no-wrap">
        <!-- Site Table-->
        <SiteTable @sites-changed="onSitesChanged" />
        <!-- Template Detail -->
        <div class="relative w-full h-full px-8 py-8 my-4 ml-2 bg-white rounded-md shadow-md md:w-5/12">
          <div class="flex flex-col items-center justify-center">
            <dropdown v-model="email.type" />
            <EventDetails v-model="email.details" :is-ranged="isRanged" />
          </div>
          <!-- Submit Button -->
          <div class="float-right mt-10">
            <el-button type="primary" @click="sendEmailAlert" :disabled="!isFormFilled">Send email</el-button>
          </div>
        </div>
      </div>
      <!-- Logger -->
      <div class="mt-10">
        {{ email }}
        {{ isFormFilled }}
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '../components/Navbar'
import StatusCard from '~/components/StatusCard'
import Dropdown from '~/components/Dropdown'
import EventDetails from '~/components/EventDetails'
import SiteTable from '~/components/SiteTable'

export default {
  components: {
    Navbar,
    StatusCard,
    Dropdown,
    EventDetails,
    SiteTable
  },

  data() {
    return {
      email: {
        type: '',
        details: '',
        sites: []
      },
      tableData: [],
      cardData: [
        {
          status: 'Operational',
          total: '17'
        },
        {
          status: 'Down',
          total: '1'
        }
      ],
      visible: false
    }
  },
  async asyncData({ $axios }) {
    let sites = {}

    try {
      const { data } = await $axios.get('/sites')
      sites = data
    } catch (error) {
      console.error(error)
    }

    return { sites }
  },
  computed: {
    isRanged() {
      return this.email.type !== 'resumed'
    },
    isFormFilled() {
      return Object.values(this.email).every(v => v)
    },
    siteKeys() {
      return Object.keys(this.sites)
    },
    numSites() {
      const countSitesUp = (count, site) => count + Number(this.sites[site])
      return this.siteKeys.reduce(countSitesUp, 0)
    },
    numSitesDown() {
      const countSitesDown = (count, site) => count + Number(!this.sites[site])
      return this.siteKeys.reduce(countSitesDown, 0)
    }
  },
  methods: {
    async sendEmailAlert() {
      try {
        const emailAlert = await this.$axios.post('/email-alerts', this.email)

        this.$notify({
          title: 'Success',
          message: emailAlert,
          type: 'success'
        })
      } catch (error) {
        console.error(error)
        this.$notify({
          title: 'Error',
          message: error.message,
          type: 'danger'
        })
      }
    },
    onSitesChanged(sites) {
      console.log('got sites', sites)
      this.email.sites = sites
    }
  }
}
</script>

<style>
.el-divider__text {
  background: #edf2f7;
}
</style>
