<template>
  <div class="container mx-auto transition-all">
    <div class="flex items-center justify-between mx-20 mt-10">
      <img src="~/assets/img/kt-logo.png" />
    </div>

    <!-- Server Status -->
    <div :class="[
        serverStatusColor,
        'p-2 px-8 py-4 mx-4 my-20 mt-10 rounded-md shadow-lg md:mx-20'
      ]">
      <p class="text-2xl font-medium text-center text-white">
        Server Status: {{ serverStatusText }}
      </p>
    </div>

    <!-- Service Table -->
    <ServiceStatus v-for="(status, name) in sites" :key="name" :site="name" :status="status" />
  </div>
</template>
<script>
import ServiceStatus from '~/components/ServiceStatus'
export default {
  components: {
    ServiceStatus
  },
  async asyncData({ $axios }) {
    let sites = {}

    // Cannot destructure process.env within Nuxt; it's a quirk of how they override it
    try {
      const { data } = await $axios.get(`/sites`)
      sites = data
      console.info('Succesfully pulled the sites:', sites)
    } catch (error) {
      console.log(String(error))
    }

    return { sites }
  },
  computed: {
    siteKeys() {
      return Object.keys(this.sites)
    },
    numSites() {
      return this.siteKeys.length
    },
    numSitesDown() {
      // count the number of sites that are down
      const countSitesDown = (count, site) => count + Number(!this.sites[site])

      return this.siteKeys.reduce(countSitesDown, 0)
    },
    serverStatus() {
      let status
      const { numSitesDown, numSites } = this

      switch (true) {
        // all down: complete outtage
        case numSitesDown === numSites:
          status = 'outage'
          break

        // at least 1 down: degraded performance
        case numSitesDown >= 1:
          status = 'degraded'
          break

        default:
          status = 'operational'
      }

      return status
    },
    serverStatusColor() {
      const statuses = {
        outage: 'red',
        degraded: 'orange',
        operational: 'green'
      }

      const color = statuses[this.serverStatus]

      return `bg-${color}-500`
    },
    serverStatusText() {
      const statuses = {
        outage: 'Outage',
        degraded: 'Degraded Performance',
        operational: 'Operational'
      }

      return statuses[this.serverStatus]
    }
  }
}
</script>
