<template>
  <div class="flex items-center justify-center h-screen bg-white bg-wall">
    <div class="px-20 text-center">
      <p class="text-3xl font-medium text-gray-700">Knowledge Translation</p>
      <p class="mb-5 text-base text-tertiary">Welcome back! Please login to continue.</p>
      <form class="pt-3 pb-8 mb-4">
        <div class="mb-6">
          <el-input v-model="userInfo.email" type="email" placeholder="Email" required name="email">
            <mail-icon slot="prefix" size="18" class="el-input__icon"></mail-icon>
          </el-input>
        </div>
        <div class="mb-6">
          <el-input v-model="userInfo.password" type="password" placeholder="Password" required show-password>
            <lock-icon slot="prefix" size="18" class="el-input__icon"></lock-icon>
          </el-input>
        </div>
        <el-button type="primary" class="btn btn-primary">Sign In</el-button>
      </form>
    </div>
  </div>
</template>

<script>
import { MailIcon, LockIcon } from 'vue-feather-icons'
export default {
  components: {
    MailIcon,
    LockIcon
  },
  props: {
    submitForm: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      userInfo: {
        email: '',
        password: ''
      },
      checked: false
    }
  }
}
</script>
