<template>
  <div class="flex flex-col items-center justify-center h-screen bg-gray-800 error-404">
    <h1 class="text-4xl text-white">This page doesn’t exist</h1>
    <p class="text-xl text-white">The link you clicked on may be broken or no longer exist.</p>
  </div>
</template>
<script>
export default {
  name: 'error-404',
  props: {
    error: {
      type: Object,
      default: () => {}
    }
  }
}
</script>