<template>
  <div class="flex flex-col items-center justify-center h-screen bg-gray-800 error-404">
    <h1 class="text-4xl text-white">Server interal error</h1>
    <p class="text-xl text-white">Sorry, looks like we're having some server issues.</p>
    <img class="mt-10 shadow-md" width="400" src="~/assets/img/cat.jpg" />
  </div>
</template>
<script>
export default {
  name: 'error-505',
  props: {
    error: {
      type: Object,
      default: () => {}
    }
  }
}
</script>